---
layout: default
---

<article class="posts article">
  <header class="article-header">
    <h1>{{ page.title }}</h1>

    {% if page.description %}
      <p class="post-dek">{{ page.description }}</p>
    {% endif %}

    <div class="meta">
      <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%Y-%m-%d" }}
      </time>

      <nav class="tag" aria-label="文章主题">
        {% for tag in page.tags %}
        <a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </nav>

      {% if page.topics and page.topics.size > 0 %}
        <details class="more-tags">
          <summary>更多主题</summary>
          <span class="tag" aria-label="更多主题">
            {% for topic in page.topics %}
              <span>{{ topic }}</span>
            {% endfor %}
          </span>
        </details>
      {% endif %}
    </div>
  </header>

  <div class="entry">
    {{ content }}
  </div>

  {% include utterances.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ page.previous.url | relative_url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ page.next.url | relative_url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>
